.h-100{height:100% !important}
.w-100{height:100% !important}
.fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030}
.navbar{height: 100px i !important}
.d-flex{display:-webkit-box !important;display:-ms-flexbox !important;display:flex !important}
.align-items-center{-webkit-box-align:center !important;-ms-flex-align:center !important;align-items:center !important}
.m4{margin: 4px !important}
.m16{margin: 16px !important}

.table-bordered{
    border:1px solid blue;
    margin-top:20px;
  }
.table-bordered > thead > tr > th{
    border:1px solid blue;
}
.table-bordered > tbody > tr > td{
    border:1px solid blue;
}